<!DOCTYPE html>
<HTML>
<head>
</head>

<body>
    <link href="bootstrap.css" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <div id="app">
        <div id="dev"></div>
    </div>
    
    <script src='app.js'></script>
</body>
</HTML>