<!doctype html>
<html lang="en">
    <link href="bootstrap.css" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="normalize.css" rel ="stylesheet">
    <link href="skeleton.css" rel ="stylesheet">
    
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React App</title>
  </head>
  <body>
    <div className ="container">
        <div id="app"></div>  
    </div>
    <script src='app.js'></script>
</body>
</html>